<ul class="board-pagination">
	<li class="front"><i class="xi-angle-left"></i><i class="xi-angle-left"></i></li>
	<li class="prev"><i class="xi-angle-left"></i></li>
	<li data-no="1">1</li>
	<li data-no="2">2</li>
	<li data-no="3">3</li>
	<li data-no="4">4</li>
	<li data-no="5">5</li>
	<li class="next"><i class="xi-angle-right"></i></li>
	<li class="rear"><i class="xi-angle-right"></i><i class="xi-angle-right"></i></li>
</ul>