<div class="card column-filter">
	<h1>
		필터링
		<span class="details-btn" onclick="onclickDetailsBtn('.column-filter')">펼치기<i class="xi-caret-down"></i></span>
	</h1>
	<div class="details">
		<div class="checkbox-container">
			<div class="checkbox-wrapper">
				<span class="left">ID</span>
				<div class="checkbox left" data="ci_no"></div>
			</div>
			<div class="checkbox-wrapper">
				<span class="left">회원번호</span>
				<div class="checkbox left" data="ci_cms_no"></div>
			</div>
			<div class="checkbox-wrapper">
				<span class="left">소속</span>
				<div class="checkbox left" data="ci_company"></div>
			</div>
			<div class="checkbox-wrapper">
				<span class="left">결과</span>
				<div class="checkbox active left" data="ci_result"></div>
			</div>
			<div class="checkbox-wrapper">
				<span class="left">구분</span>
				<div class="checkbox left" data="ci_classification"></div>
			</div>
			<div class="checkbox-wrapper">
				<span class="left">DB종류</span>
				<div class="checkbox active left" data="ci_db_type"></div>
			</div>
			<div class="checkbox-wrapper">
				<span class="left">지회</span>
				<div class="checkbox active left" data="ci_local_name"></div>
			</div>
			<div class="checkbox-wrapper">
				<span class="left">계약상태</span>
				<div class="checkbox left" data="ci_status"></div>
			</div>
			<div class="checkbox-wrapper">
				<span class="left">신청일</span>
				<div class="checkbox left" data="ci_sign_date"></div>
			</div>
			<div class="checkbox-wrapper">
				<span class="left">해지일</span>
				<div class="checkbox left" data="ci_terminate_date"></div>
			</div>
			<div class="checkbox-wrapper">
				<span class="left">해지사유</span>
				<div class="checkbox left" data="ci_terminate_memo"></div>
			</div>
		</div>
		<div class="checkbox-container">
			<div class="checkbox-wrapper">
				<span class="left">업체</span>
				<div class="checkbox active left" data="ci_client"></div>
			</div>
			<div class="checkbox-wrapper">
				<span class="left">대표</span>
				<div class="checkbox active left" data="ci_representive"></div>
			</div>
			<div class="checkbox-wrapper">
				<span class="left">사업자등록번호</span>
				<div class="checkbox left" data="ci_ent_no"></div>
			</div>
			<div class="checkbox-wrapper">
				<span class="left">담당</span>
				<div class="checkbox left" data="ci_manager"></div>
			</div>
			<div class="checkbox-wrapper">
				<span class="left">동행</span>
				<div class="checkbox left" data="ci_companion"></div>
			</div>
			<div class="checkbox-wrapper">
				<span class="left">전담당</span>
				<div class="checkbox left" data="ci_pre_manager"></div>
			</div>
			<div class="checkbox-wrapper">
				<span class="left">지회담당</span>
				<div class="checkbox left" data="ci_local_manager"></div>
			</div>
			<div class="checkbox-wrapper">
				<span class="left">일반전화</span>
				<div class="checkbox left" data="ci_tel"></div>
			</div>
			<div class="checkbox-wrapper">
				<span class="left">핸드폰</span>
				<div class="checkbox active left" data="ci_mobile"></div>
			</div>
			<div class="checkbox-wrapper">
				<span class="left">주소</span>
				<div class="checkbox left" data="ci_address"></div>
			</div>
		</div>
		<div class="checkbox-container">
			<div class="checkbox-wrapper">
				<span class="left">계약일</span>
				<div class="checkbox left" data="ci_contract_date"></div>
			</div>
			<div class="checkbox-wrapper">
				<span class="left">계약금액</span>
				<div class="checkbox left" data="ci_contract"></div>
			</div>
			<div class="checkbox-wrapper">
				<span class="left">세팅일</span>
				<div class="checkbox active left" data="ci_setting_date"></div>
			</div>
			<div class="checkbox-wrapper">
				<span class="left">세팅금액</span>
				<div class="checkbox active left" data="ci_setting"></div>
			</div>
			<div class="checkbox-wrapper">
				<span class="left">관리일</span>
				<div class="checkbox left" data="ci_manage_date"></div>
			</div>
			<div class="checkbox-wrapper">
				<span class="left">관리비</span>
				<div class="checkbox active left" data="ci_manage_fee"></div>
			</div>
			<div class="checkbox-wrapper">
				<span class="left">이체일</span>
				<div class="checkbox active left" data="ci_transfer_date"></div>
			</div>
		</div>
		<div class="checkbox-container">
			<div class="checkbox-wrapper">
				<span class="left">메모</span>
				<div class="checkbox left" data="ci_memo"></div>
			</div>
			<div class="checkbox-wrapper">
				<span class="left">성희롱예방교육</span>
				<div class="checkbox left" data="ci_harassment"></div>
			</div>
			<div class="checkbox-wrapper">
				<span class="left">개인정보보호교육</span>
				<div class="checkbox left" data="ci_info"></div>
			</div>
			<div class="checkbox-wrapper">
				<span class="left">장애인인식개선교육</span>
				<div class="checkbox left" data="ci_disabled"></div>
			</div>
			<div class="checkbox-wrapper">
				<span class="left">산업안전보건교육</span>
				<div class="checkbox left" data="ci_safety"></div>
			</div>
			<div class="checkbox-wrapper">
				<span class="left">퇴직연금</span>
				<div class="checkbox left" data="ci_retirement"></div>
			</div>
			<div class="checkbox-wrapper">
				<span class="left">사건수임</span>
				<div class="checkbox left" data="ci_attorney"></div>
			</div>
			<div class="checkbox-wrapper">
				<span class="left">취업규칙</span>
				<div class="checkbox left" data="ci_emp_rule"></div>
			</div>
			<div class="checkbox-wrapper">
				<span class="left">4대보험</span>
				<div class="checkbox left" data="ci_insurance"></div>
			</div>
		</div>
		<div class="checkbox-container">
			<div class="checkbox-wrapper">
				<span class="left">첨부파일</span>
				<div class="checkbox left" data="ci_attachment"></div>
			</div>
		</div>
	</div>
</div>