<table class="table-form1 client-search-result-table card">
	<thead>
		<tr><th>조회결과</th></tr></thead>
	<tbody>
		<tr class="fixed-row column-name">
			<th data="ci_no">ID</th>
			<th data="ci_cms_no">회원번호</th>
			<th data="ci_company">소속</th>
			<th data="ci_result">결과</th>
			<th data="ci_classification">구분</th>
			<th data="ci_db_type">DB종류</th>
			<th data="ci_local_name">지회</th>
			<th data="ci_status">계약상태</th>
			<th data="ci_sign_date">신청일</th>
			<th data="ci_terminate_date">해지일</th>
			<th data="ci_terminate_memo">해지사유</th>
			
			<th data="ci_client">업체</th>
			<th data="ci_representive">대표</th>
			<th data="ci_ent_no">사업자등록번호</th>
			<th data="ci_manager">담당</th>
			<th data="ci_companion">동행</th>
			<th data="ci_pre_manager">전담당</th>
			<th data="ci_local_manager">지회담당</th>
			<th data="ci_tel">일반전화</th>
			<th data="ci_mobile">핸드폰</th>
			<th data="ci_address">주소</th>
			<th data="ci_memo">메모</th>
			
			<th data="ci_contract_date">계약일</th>
			<th data="ci_contract">계약금액</th>
			<th data="ci_setting_date">세팅일</th>
			<th data="ci_setting">세팅금액</th>
			<th data="ci_manage_date">관리일</th>
			<th data="ci_manage_fee">관리비</th>
			<th data="ci_transfer_date">이체일</th>

			<th data="ci_harassment_date">성희롱예방교육</th>
			<th data="ci_harassment">금액</th>
			<th data="ci_info_date">개인정보보호교육</th>
			<th data="ci_info">금액</th>
			<th data="ci_disabled_date">장애인인식개선교육</th>
			<th data="ci_disabled">금액</th>
			<th data="ci_safety_date">산업안전보건교육</th>
			<th data="ci_safety">금액</th>
			<th data="ci_retirement_date">퇴직연금</th>
			<th data="ci_retirement">금액</th>
			<th data="ci_attorney_date">사건수임</th>
			<th data="ci_attorney">금액</th>
			<th data="ci_emp_rule_date">취업규칙</th>
			<th data="ci_emp_rule">금액</th>
			<th data="ci_insurance_date">4대보험</th>

			<th data="ci_attachment">첨부파일</th>
		</tr>
		<!-- append client search result data -->
	</tbody>
</table>